.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 1rem;
  max-width: 60rem;
  align-items: center;
  animation: me 1s;
}
.introduction {
  font-weight: 600;
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  animation: projects 1s;
}
.display {
  border: 1px solid #000;
}


.react {
  color: blue;
  font-weight: bold;
}
.icon {
  color: blue;
  height: 1.1rem;
}
.logo {
  margin-right: 0.5rem;
}

.jeremy {
  box-shadow: #00000059 0px 5px 15px;
  border-radius: 50px;
}

.link {
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 0 2rem 0 2rem;
  margin: 2rem 2rem 0 2rem;
  border-radius: 18px;
  box-shadow: #00000059 0px 10px 30px;
  transition: 0.3s;
  border-top: 5px solid #0a66c2;
}
.tesing {
  display: flex;
  margin: 0 auto;
 justify-content: center;
 
}
.lien_projets {
  margin-left: 2rem;
  color: var(--titles);
}

.description {
  display: none;
}
@media (max-width: 438px) {
  .container {
    flex-direction: column;
  }
  .jeremy {
    width: 180px;
    height: 200px;
  }
  .link {
    padding: 0;
    margin: 2rem 0 0 0;
  }
}
@media (max-width: 1000px) {
  .introduction {
    background-color: #fff;
    box-shadow: #00000059 0px 10px 30px;
    border-radius: 10px;
    padding: 0.5rem;
  }
  .description {
    background-color: #fff;
    box-shadow: #00000059 0px 10px 30px;
    border-radius: 10px;
    padding: 0.5rem;
    border: 5px 0 5px 0 solid #0a66c2;
  }
  .lien_projets {
    margin-left: 0;
  }
}


@keyframes me {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes projects {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
