.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 1.9rem;

}

.email {
    font-weight: bold;
    font-size: 20px;
}
.icons {
    margin: 1rem 0 0 0;
}
.downloads {
    display: flex;
    flex-direction: row;
}
.linkedin_icon {
    width: 30px;
    margin-right: 2rem;
    color: #0a66c2;
}
.github_icon {
    color: black;
    width: 30px;
}
.cv {
    display: block;
    padding: 1rem;
    margin: 1rem 1rem 0 0;
    background-color: #0a66c2;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}
.cv:hover {
    transform: scale(1.1);
}