.footer {
    display: flex;
    width: 100%;

    padding: 2rem;
    background-color: #2b2b2b;
    justify-content: space-between;
}

.email {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}
.email:hover {
    color: var(--theme);
}
.icons {
    margin: 1rem 0 0 0;
    align-self: flex-end;
}
.downloads {
    display: flex;
    flex-direction: row;
}
.linkedin_icon {
    width: 30px;
    margin-right: 2rem;
    height: 30px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
.github_icon {
    color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;
}
.linkedin_icon:hover {
    color: var(--theme);
}
.github_icon:hover {
    color: var(--theme);
}

.cv {
    display: block;
    padding: 1rem;
    margin: 1rem 1rem 0 0;
    background-color: var(--theme);
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}
.cv:hover {
    transform: scale(1.1);
}
@media(max-width:800px){
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .icons{
        align-self: center;
    }
}
@media (max-width:370px) {
    .footer {
        text-align: center;
    }
    .email{
        font-size: 1rem;
    }
  }