@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --titles: #3d0ac9;
    /* #c953f8*/
}
html {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  
  padding-bottom: 1rem;
}
