@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --titles: #000;
    /* #c953f8*/
}
html {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
 
}
body {
  background-image: url('https://huzaks.github.io/portfoliojeremy/_next/static/media/background.1e3545eb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


footer {
  background-color: blue;
}
