.header {
    display: flex;
    background-color: #353535;
    flex-direction: row;
    padding: 1.9rem;
    align-items: center;
}

.titre {
    margin: 0;
    color: #ffffff;
}

.div {margin-right: auto;}

@media(max-width:38rem) {
    .titre { 
        display: none;
    }
   

}


