.header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  margin-bottom: 10px;
  position: fixed;
  width: 90%;
  top: 1rem;
  z-index: 15;
  border-radius: 15rem;
  left: 50%;
  transform: translateX(-50%);
}

.titre {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--titles);
  cursor: pointer;
  text-decoration: none;
}

.div {
  margin-right: auto;
  animation: name 1s ;
}
@keyframes name {
  from {
    transform: translateX(-200%) scale(5);
  }
  to {
    transform: translateX(0) scale(1);
  }
}
.button {
  display: none;
  position: absolute;
  right: 1rem;
  color: var(--titles);
  cursor: pointer;
  width: 1.3rem;
  height: max-content;
  z-index: 3;
  transition: 0.3s;
}
.button:hover {
  color: var(--theme);
}
.buttonX {
  display: none;
  position: fixed;
  right: 1rem;
  color: var(--titles);
  cursor: pointer;
  width: 1.3rem;
  height: max-content;
  z-index: 3;
}
.buttonX:hover {
  color: var(--theme);
}
.nav {
  align-items: center;
  
}

.ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0;
  padding: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  gap: 2rem;
  background-color: #fff;
  z-index: 2;
  transition: all 0.3s;
  animation: ul 0.3s ;
  left: 0;
}
@keyframes ul {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(1);
  }
}

.ul_no_show {
  display: flex;
  list-style-type: none;
  text-align: center;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0;
  padding: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  transition: all 0.3s;
  animation: ul 0.3s ;
  left: -200%;
}
.ul_show {
  position: absolute;
  left: 0;
  transition: 0.3s;
}
.link {
  padding: 0.8rem;
  color: var(--titles);
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: bold;
  
}
.switch input {display: none;}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
  margin: 0 10px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;

}
.slider::before{
  position: absolute;
  content: "FR";
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 5px;
  background-color: #fff;
  transition: .4s;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

input:checked + .slider::before {
 transform: translateX(50px);
 content: "EN";
}


@media (max-width: 55rem) {
  .header {
    height: 5rem;
    justify-content: center;
    left: 0;
  transform: translateX(0);
  border-radius: 0;
  top: 0;
  width: 100%;
  }

  .button {
    display: block;
  }
  .buttonX {
    display: block;
  }
 
}

@media (min-width: 55rem) {
  .ul {
    display: none;
  }
  .header {
    flex-direction: row;
  }
}
@keyframes testing {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
