.container {
    display: flex;
    flex-direction: row;
  max-width: 60rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.imagecontainer {
  width: 32rem;
  border-radius: 15px;
}
.imagescroll {
  width: 32rem;
  height: 22rem;
  background: #000;
  background-position: top;
  transition: 10s ease-in-out;
  border-radius: 15px;
}
.image1 {
  background-image: url("../public/localhost_3000_login.png");
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.imagescroll2 {
  width: 32rem;
  height: 22rem;
  background: #000;
  background-position: top;
  transition: 10s ease-in-out;
  border-radius: 15px;
}
.image2 {
  background-image: url("../public/minissentials.vercel.app_.png");
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.imagescroll:hover {
  background-position: bottom;
}
.imagescroll2:hover {
  background-position: bottom;
}
.icon {
    height: 1.1rem;
    width: 1.1rem;
  }
  .link {
    display:flex;
    color: #000;
    text-decoration: none;
    align-items: center;
    gap: 0.5rem;
    transition: 0.2s;
    font-size: 1.2rem;
    font-weight: 600;
  }
.link:hover {
    color: #0a66c2;
}
@media (max-width:850px) {
  .container {
   width: 544px;
    flex-direction: column;
  }
  .imagescroll {
    transition: 0s;
  }
  .imagescroll2 {
   transition: 0s;
  }
  .imagescroll:hover {
    background-position: top;
  }
  .imagescroll2:hover {
    background-position: top;
  }
  .link {
    margin-bottom: 1rem;
  }
}
@media (max-width:570px) {
  .imagecontainer{
    width: 24rem;
  }
  .imagescroll {
    width: 24rem;
  }
  .imagescroll2 {
    width: 24rem;
  }
  .container {
   width: 26rem;
    flex-direction: column;
  }
  .link {
    margin-bottom: 1rem;
  }
}
@media (max-width:480px) {
  .imagecontainer{
    width: 20rem;
  }
  .imagescroll {
    width: 20rem;
  }
  .imagescroll2 {
    width: 20rem;
  }
  .container {
   width: 22rem;
    flex-direction: column;
  }
  .link {
    margin-bottom: 1rem;
  }
}
@media (max-width:370px) {
  .imagecontainer{
    width: 16rem;
  }
  .imagescroll {
    width: 16rem;
  }
  .imagescroll2 {
    width: 16rem;
  }
  .container {
   width: 18rem;
    flex-direction: column;
  }
  .link {
    margin-bottom: 1rem;
  }
}